*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
 
  body{
    background-color: white;
  }
  nav{
    background-color:  #A9CF82;
  }
  .d-flex{
    
    margin: 2px 15px 0px 0px ;
   width: 45vw;
  
}


.carrit{
  margin: 15px 20px 0px 50px ; 
  color: black;

}

.persona{
  margin: 20px 0px 0px 42px ; 
  color: black;
}
.inicio{
  text-decoration: none; 
  color: black;
}
.ingresar{
  margin: 20px 0px 0px 10px ; 
}

.tablas {
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 10px 0px;
  overflow: hidden;
  background-color: #fff;
  display: flex; /* Cambiamos a flexbox para alinear elementos */
  justify-content: center; 
 
}

.tablas li {
  margin: 0 10px; /* Espacio entre elementos */
  
}

.tablas li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tablas li a:hover {
  background-color: #111;
}
.favorit{
  text-decoration: none;
  color: #fff; /* Color de texto */
  padding: 5px 10px; /* Ajusta el espacio interno según tu diseño */
  border: 1px solid #A9CF82; /* Borde alrededor de los enlaces */
  border-radius: 5px; /* Bordes redondeados */
  justify-content: center;
  text-align: center;
  background-color: #A9CF82;

}


.report{
  text-decoration: none;
  color: #fff; /* Color de texto */
  padding: 5px 10px; /* Ajusta el espacio interno según tu diseño */
  border: 1px solid #A9CF82; /* Borde alrededor de los enlaces */
  border-radius: 5px; /* Bordes redondeados */
  justify-content: center;
  text-align: center;
  background-color: #A9CF82;

}


.ofert{
  text-decoration: none;
  color: #fff; /* Color de texto */
  padding: 5px 10px; /* Ajusta el espacio interno según tu diseño */
  border: 1px solid #A9CF82; /* Borde alrededor de los enlaces */
  border-radius: 5px; /* Bordes redondeados */
  justify-content: center;
  text-align: center;
  background-color: #A9CF82;
}
.ayud{
  text-decoration: none;
  color: #fff; /* Color de texto */
  padding: 5px 10px; /* Ajusta el espacio interno según tu diseño */
  border: 1px solid #A9CF82; /* Borde alrededor de los enlaces */
  border-radius: 5px; /* Bordes redondeados */
  justify-content: center;
  text-align: center;
  background-color: #A9CF82;
}

.pagos{

  text-decoration: none;
  color: #fff; /* Color de texto */
  padding: 5px 10px; /* Ajusta el espacio interno según tu diseño */
  border: 1px solid #A9CF82; /* Borde alrededor de los enlaces */
  border-radius: 5px; /* Bordes redondeados */
  justify-content: center;
  text-align: center;
  background-color: #A9CF82;
}
@media screen and (max-width: 600px) {
  .tablas {
    flex-direction:initial ; /* Cambiamos a columna para móviles */
    align-items: center; /* Centramos los elementos en móviles */
  }
  .tablas li {
    margin: 5px 5px; /* Espacio entre elementos en móviles */
  }
 
}

  .regreso{
    margin: 5px 0px 0px 15px;
 }
 .comienzo{
    text-decoration: none;
    color: #020202;
    
    

 }

 .comienzo:hover{
    color: #6f7f8f;
 }

  
 main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.contenido1, .section1, .contenido2, .section2 {
  flex: 1 1 100%;
  padding: 10px;
}

.section1 {
  margin: 23vh 0vh 0px 1vh;
}

/* Estilos adicionales */
.tex-info {
  margin: 10px 0 0 35px;
  font-weight: bold;
  font-size: 17px;
}

.pregun {
  padding: 0 0 0 30px;
  font-weight: bold;
  color: #A9CF82;
  font-size: 35px;
}

.expli-video {
  margin: 10px 0 0 0;
  padding: 0 0 0 35px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #A9CF82;
}

.img, iframe {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {

  .aside1, .aside2 {
    float: none;
    margin: 10px auto;
  }
}
@media (min-width: 768px) {
  .contenido1, .section1, .contenido2, .section2 {
    flex: 1 1 48%;
  }

  main {
    padding: 40px;
    gap: 40px;
  }
 
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px; /* Ajusta según sea necesario */
  margin: 0 auto; /* Centra el contenedor */
}

.video-container iframe {
  width: 100%;
  height: 450px; /* Ajusta según sea necesario */
}

.credits {
  margin-top: 10px; /* Espacio entre el video y el crédito */
  font-size: 14px; /* Tamaño de fuente para el crédito */
  text-align: center; /* Centra el texto del crédito */
}

.credits a {
  color: #007bff; /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
}

.credits a:hover {
  text-decoration: underline; /* Subrayado en hover */
}



  
.pag {
  position: relative;
  z-index: 1; /* Asegura que esté sobre otros elementos si es necesario */
  margin-top: 50px; /* Agrega espacio por encima del footer */
  padding: 10px; /* Ajusta el padding según sea necesario */
  background-color: #A9CF82;
}

.pag .pie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pag .pie ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}
.barras{
  display: flex;
  
}
.btn-sec{
  margin: 0px 20px ;
  font-family: 'Merriweather', serif;
}




.btn-iconmayor{
  display: flex;
  text-align: center;
  
}
.btn-iconos1{
  margin: 0px 20px 0px 145px;
}
.btn-iconos2{
  margin: 0px 20px 0px 0px;
}
.btn-iconos3{
  margin: 0px 20px 0px 0px;
}

.termi{
  text-align: center;
}
.logo{
  text-align: center;
}




/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .pag {
      margin-top: 50px; /* Aumenta el espacio por encima del footer en dispositivos móviles */
      padding: 15px; /* Ajusta el padding según sea necesario */
  }
}
  