*{
    margin: 0;
    padding: 0;
  
  
  }
  body{
    background-color: white;
  }
  nav{
    background-color:  #A9CF82;
    
  }
  .d-flex{
    
    margin: 2px 15px 0px 0px ;
   width: 45vw;
  
}


.carrit{
  margin: 15px 20px 0px 50px ; 
  color: black;

}

.persona{
  margin: 20px 0px 0px 42px ; 
  color: black;
}
.inicio{
  text-decoration: none; 
  color: black;
}
.ingresar{
  margin: 20px 0px 0px 10px ; 
}

.tablas {
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 10px 0px;
  overflow: hidden;
  
  display: flex; /* Cambiamos a flexbox para alinear elementos */
  justify-content: center; 
 
}

.tablas li {
  margin: 0 10px; /* Espacio entre elementos */
  
}

.tablas li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tablas li a:hover {
  background-color: #111;
  border: #111;
}
.favorit{
  text-decoration: none;
  color: #fff; /* Color de texto */
  padding: 5px 10px; /* Ajusta el espacio interno según tu diseño */
  border: 1px solid #A9CF82; /* Borde alrededor de los enlaces */
  border-radius: 5px; /* Bordes redondeados */
  justify-content: center;
  text-align: center;
  background-color: #A9CF82;


}


.report{
  text-decoration: none;
  color: #fff; /* Color de texto */
  padding: 5px 10px; /* Ajusta el espacio interno según tu diseño */
  border: 1px solid #A9CF82; /* Borde alrededor de los enlaces */
  border-radius: 5px; /* Bordes redondeados */
  justify-content: center;
  text-align: center;
  background-color: #A9CF82;

}


.ofert{
  text-decoration: none;
  color: #fff; /* Color de texto */
  padding: 5px 10px; /* Ajusta el espacio interno según tu diseño */
  border: 1px solid #A9CF82; /* Borde alrededor de los enlaces */
  border-radius: 5px; /* Bordes redondeados */
  justify-content: center;
  text-align: center;
  background-color: #A9CF82;
}
.ayud{
  text-decoration: none;
  color: #fff; /* Color de texto */
  padding: 5px 10px; /* Ajusta el espacio interno según tu diseño */
  border: 1px solid #A9CF82; /* Borde alrededor de los enlaces */
  border-radius: 5px; /* Bordes redondeados */
  justify-content: center;
  text-align: center;
  background-color: #A9CF82;
}

.pagos{

  text-decoration: none;
  color: #fff; /* Color de texto */
  padding: 5px 10px; /* Ajusta el espacio interno según tu diseño */
  border: 1px solid #A9CF82; /* Borde alrededor de los enlaces */
  border-radius: 5px; /* Bordes redondeados */
  justify-content: center;
  text-align: center;
  background-color: #A9CF82;
}
@media screen and (max-width: 600px) {
  .tablas {
    flex-direction:initial ; /* Cambiamos a columna para móviles */
    align-items: center; /* Centramos los elementos en móviles */
  }
  .tablas li {
    margin: 5px 5px; /* Espacio entre elementos en móviles */
  }
 
}
  .ingresar{
    margin: 20px 0px 0px 10px ; 
  }
  
    .regreso{
        margin: 5px 0px 0px 20px;
     }
     .fon{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
     }
     .comienzo{
        text-decoration: none;
        color: #020202;
        font-weight: bold
    
     }

     .comienzo:hover{
        color: #85929E;
     }
     .formulario{
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 360px; /* Ajustar el ancho máximo */
        width: 100%; /* Ancho completo del contenedor */
        margin: auto; /* Centrar horizontalmente */
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .forma-grupo {
        margin-bottom: 15px;
    }
    
    .lab {
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    input[type="text"],
    input[type="password"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        width: 100%;
    }
    
    .entrada{
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #123614;
    }
    
    button[type="submit"] {
        margin-top: 10px;
    }
    
    .register-link {
        text-align: center;
        margin-top: 15px;
    }
    
    .register-link a {
        color: #007bff;
        text-decoration: none;
    }
    
    .register-link a:hover {
        text-decoration: underline;
    }
    
    @media (max-width: 480px) {
        .formulario{
            padding: 15px;
        }
    }
    .pag {
      position: relative;
      z-index: 1; /* Asegura que esté sobre otros elementos si es necesario */
      margin-top: 80px; /* Agrega espacio por encima del footer */
      padding: 10px; /* Ajusta el padding según sea necesario */
      background-color: #A9CF82;
    }
    
    .pag .pie {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .pag .pie ul {
      list-style-type: none;
      margin: 10px;
      padding: 0;
    }
    .barras{
      display: flex;
      
    }
    .btn-sec{
      margin: 0px 20px ;
      font-family: 'Merriweather', serif;
    }
    
    
    
    
    .btn-iconmayor{
      display: flex;
      text-align: center;
      
    }
    .btn-iconos1{
      margin: 0px 20px 0px 145px;
    }
    .btn-iconos2{
      margin: 0px 20px 0px 0px;
    }
    .btn-iconos3{
      margin: 0px 20px 0px 0px;
    }
    
    .termi{
      text-align: center;
    }
    .logo{
      text-align: center;
    }
    
    /* Media query para dispositivos móviles */
    @media (max-width: 768px) {
      .pag {
          margin-top: 70px; /* Aumenta el espacio por encima del footer en dispositivos móviles */
          padding: 15px; /* Ajusta el padding según sea necesario */
      }
    }
    
    