* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-bottom: 150px; /* Ajusta según la altura de tu footer */
}


html, body {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;

}


nav {
  background-color: #A9CF82;
}

.d-flex{
    
  margin: 2px 15px 0px 0px ;
 width: 45vw;

}


.carrit{
margin: 15px 20px 0px 50px ; 
color: black;

}

.persona{
margin: 20px 0px 0px 42px ; 
color: black;
}
.inicio{
text-decoration: none; 
color: black;
}
.ingresar{
margin: 20px 0px 0px 10px ; 
}


.tablas {
list-style-type: none;
margin: 0;
padding: 0px 0px 10px 0px;
overflow: hidden;
background-color: #fff;
display: flex; /* Cambiamos a flexbox para alinear elementos */
justify-content: center; 

}

.tablas li {
margin: 0 10px; /* Espacio entre elementos */

}

.tablas li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.tablas li a:hover {
background-color: #111;
}
.favorit{
text-decoration: none;
color: #fff; /* Color de texto */
padding: 5px 10px; /* Ajusta el espacio interno según tu diseño */
border: 1px solid #A9CF82; /* Borde alrededor de los enlaces */
border-radius: 5px; /* Bordes redondeados */
justify-content: center;
text-align: center;
background-color: #A9CF82;

}


.report{
text-decoration: none;
color: #fff; /* Color de texto */
padding: 5px 10px; /* Ajusta el espacio interno según tu diseño */
border: 1px solid #A9CF82; /* Borde alrededor de los enlaces */
border-radius: 5px; /* Bordes redondeados */
justify-content: center;
text-align: center;
background-color: #A9CF82;

}


.ofert{
text-decoration: none;
color: #fff; /* Color de texto */
padding: 5px 10px; /* Ajusta el espacio interno según tu diseño */
border: 1px solid #A9CF82; /* Borde alrededor de los enlaces */
border-radius: 5px; /* Bordes redondeados */
justify-content: center;
text-align: center;
background-color: #A9CF82;
}
.ayud{
text-decoration: none;
color: #fff; /* Color de texto */
padding: 5px 10px; /* Ajusta el espacio interno según tu diseño */
border: 1px solid #A9CF82; /* Borde alrededor de los enlaces */
border-radius: 5px; /* Bordes redondeados */
justify-content: center;
text-align: center;
background-color: #A9CF82;
}

.pagos{

text-decoration: none;
color: #fff; /* Color de texto */
padding: 5px 10px; /* Ajusta el espacio interno según tu diseño */
border: 1px solid #A9CF82; /* Borde alrededor de los enlaces */
border-radius: 5px; /* Bordes redondeados */
justify-content: center;
text-align: center;
background-color: #A9CF82;
}
@media screen and (max-width: 600px) {
.tablas {
  flex-direction:initial ; /* Cambiamos a columna para móviles */
  align-items: center; /* Centramos los elementos en móviles */
}
.tablas li {
  margin: 5px 5px; /* Espacio entre elementos en móviles */
}

}


.ingresar {
  margin: 20px 0px 0px 10px;
}

.regreso {
  margin: 5px 0px 0px 20px;
}

.comienzo {
  text-decoration: none;
  color: #020202;
}

.comienzo:hover {
  color: #85929E;
}

.tit {
  
  margin: 0 auto; /* Centra horizontalmente */
  padding: 0;
  border-radius: 8px;
  max-width: 80%; /* Ajusta esto según sea necesario */
  display: flex;
  justify-content: left;
  
}

.titulo {
  padding: 10px 20px;
  font-size: 30px;
  position: relative;
}
.metodopag{
  width: 62%;
  height: 750px;
  background: #fff;
  margin: 40px auto;
  border: 2px solid #fff;
  box-shadow: 0 15px 40px rgba(0,0,0, 0.5);
 
  
}

/* Contenedor principal */
.contenedor {
  display: flex;
  justify-content: space-between; /* Asegura que los paneles estén separados */
  align-items: flex-start; /* Alinea los paneles al inicio (arriba) */
}

/* Para pantallas grandes (computadoras) */
.panel-izquierdo{
  width: 65%;
}

.panel-derecho {
  width: 35%; /* Ajusta el ancho para que ambos paneles quepan lado a lado */
}

/* Para dispositivos móviles */
@media screen and (max-width: 600px) {
  .contenedor {
      display: block; /* Hace que los paneles se apilen uno debajo del otro */
  }

  .panel-izquierdo,
  .panel-derecho {
      width: 100%; /* Los paneles ocupan todo el ancho en móviles */
      margin-bottom: 20px; /* Espacio entre paneles en móviles */
  }
  
}

.boto{

  list-style-type: none;
  margin: 0;
  padding: 25px 0px 10px 0px;
  display: flex; /* Cambiamos a flexbox para alinear elementos */
  justify-content: left; 
  font-weight: bold;

}
.tar{
margin: 0px 40px;
background-color: #F7940E;
text-decoration: none;
color: #fff;
font-weight: bold;
padding: 10px 10px;
border-radius: 5px;
}
.pay{
margin: 0px 0px;
background-color: #B7B6B6;
text-decoration: none;
color: #fff;
padding: 10px 10px;
border-radius: 5px;
}

.subtit{
  font-size: 15px;
  padding: 10px 0 5px 15px;
  margin: 0px 5px ;
  color: #71B5C6;
  text-transform: uppercase;
  background-color: #fff;
  font-weight: bold;

}
.segur{
font-size: 15px;
padding: 0px 0 5px 10px;
margin: 0px 30px ;
color:#A0A086;
}
.credito{
list-style-type: none;
  margin: 0px 30px;
  padding: 25px 0px 10px 0px;
  display: flex; /* Cambiamos a flexbox para alinear elementos */
  justify-content: left; 
  font-weight: bold;
}
.spn{
font-size: 10px;
color:#A0A086 ;

}
.visa , .maste , .american{
margin: 0px 10px;

}

form{
  padding: 20px 40px;
}

form label{
  color: black;
  font-weight: bold;
}

form .titular,.caja,.caj,.caji,.formula,.completar{
  margin: 10px 0 20px 0;
}

form input[type="text"], form input[class="caja"]{
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  width: 100%;
}

form input[type="text"]:focus, form input[class="caja"]:focus{
  border-bottom: 2px solid #262626;
}
form input[class="caj"]{
width: 50px;
}
form input[class="caj"]:focus{
width: 15%;
}
.codigo{
margin: 0vh 0vw 0px 8vw;
}

form input[class="caji"]{
width: 50px;
margin: 0px 0px 0px 10vw;
}
.encuesta{
font-size: 13px;
font-weight: bold;
color:#A0A086;
}


form input[type="submit"]{
  background: #262626;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
}


form input[type="submit"]:hover{
  background: #45B39D;
}

.pag {
  position: relative;
  z-index: 1; /* Asegura que esté sobre otros elementos si es necesario */
  margin-top: 20px; /* Agrega espacio por encima del footer */
  padding: 10px; /* Ajusta el padding según sea necesario */
  background-color: #A9CF82;
}

.pag .pie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pag .pie ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}
.barras{
  display: flex;
  
}
.btn-sec{
  margin: 0px 20px ;
  font-family: 'Merriweather', serif;
}




.btn-iconmayor{
  display: flex;
  text-align: center;
  
}
.btn-iconos1{
  margin: 0px 20px 0px 145px;
}
.btn-iconos2{
  margin: 0px 20px 0px 0px;
}
.btn-iconos3{
  margin: 0px 20px 0px 0px;
}

.termi{
  text-align: center;
}
.logo{
  text-align: center;
}




/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .pag {
      margin-top: 750px; /* Aumenta el espacio por encima del footer en dispositivos móviles */
      padding: 15px; /* Ajusta el padding según sea necesario */
  }
}
